
/*Common Styles*/

body {
  color: #222222;
  font-size: 1rem;
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
    text-align: center;
}

/*Content Styles*/

.top {
  margin-left: auto;
  margin-right: auto;
}

.list {
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.5rem;
  width: 400px;
}

.item {
  margin-right: 0.5rem;
  background-color: yellow;
}

.done {
  text-decoration: line-through;
}

#add-button {
  background-color: yellow;
}

#add-button:disabled {
  background-color: #D3D3D3;
}

#add-todo {
  background-color: gray;
}


